#gravity-image{
    position: absolute;
    display:none;
    left:50%;
    transform: translateX(-50%);
    visibility: hidden;
    padding-top:0.5em;
    z-index:2;
}

#gravity-image .triangle-up{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

#gravity-image img{
    padding:0.5em;
    background-color: #555;
    border-radius: 2%;
}

.gravity:hover #gravity-image{
    visibility: visible;
}

.gravity:hover ::after{
    content:"\A" " NOTE: it unavoidably becomes a mess in like 20 runs.";
    white-space: pre-line;
}

#Ep:hover #Ep-hid{
    visibility: visible;
}

#funfact:hover::after{
    content:"Dang I was so awkward.";
}

.porabola:hover:after{
    content:" But it is.";
}

.generator:hover:after{
    content:" NOTE: some experiments required.";
}
