@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
body{
    font-family: "Noto Sans TC";
    margin:0;
    font-size: larger;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: rgb(228, 228, 228);
}

.full-header{
    position: relative;
    text-align: center;
    text-shadow: 1.5px 1.5px #6e6e6e;
    min-height:100vh;
}

.full-header .bg{
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left:0%;
    opacity: 30%;
}

.full-header .content{
    background-color:none;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:rgb(243, 243, 243);
}

.full-header h1{
    padding:0px;
    margin:0px;
}

.full-header p{
    margin:0px;
    padding:0px;
}

.header{
    text-align: center;
    text-shadow: 1px 1px #909090;
    width:100%;
    padding-top:30px;
    padding-bottom:30px;
}

.avatar{
    width:10em;
    border-radius: 50%;
    shape-outside: border-box;
    padding:0px;
}

nav{
    position:sticky;
    top:0;
    z-index: 10000;
    width: 100%;
    background-color: #666666;
}

nav li{
    display:inline-block;
    font-size:x-large;
    color:#ffffff;
}

nav li a{
    text-decoration: none;
    color:#ffffff;
    padding:15px;
    display:block;
}

nav li a:hover{
    color: #666666;
    background-color: #ffffff;
    transition: all 0.15s ease;
}


nav ul{
    padding-left:0px;
}

nav .dropdown{
    display:none;
    position: absolute;
    margin-top: 0px;
    z-index:1;
}

nav .dropdown li{
    display: block;
    background-color:#666666;
    width: 100%;
}

nav li:hover .dropdown{
    display:block;
}

nav .content-change{
    float: right;
    overflow: hidden;
    position: relative;
}

.content-change .A{
    position: absolute;
    height:80%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.content-change .B{
    position: relative;
}

.content-change .B{
    opacity:0;
}

.content-change:hover .B{
    opacity: 1;
}

.content-change:hover .A{
    display: none;
}

h2{
    align-self: center;
    margin-bottom: 0;
    position: relative;
}

#content h2:before{
    display:block;
    content:"This can be an easter egg, right?";
    position: absolute;
    overflow:hidden;
    width: 0.2em;
    height: 100%;
    left:-0.5em;
    background-color:#ff0000da;
    color:#00000000;
}



.flex-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
}

.explain{
    cursor: help;
}

.list{
    margin-left: 4em;
}

.nodec{
    color:unset;
}

.hidden-link{
    text-decoration: none;
    cursor:text;
}

.emphasis{
    color: white;
    font-weight: bolder;
}

.whisper{
    color:rgb(202, 202, 202);
    font-style: italic;
    font-size: medium;
}

.bottom{
    padding-top:6%;
    font-size: small;
    text-align: center;
}

iframe{
    border:1px solid rgb(202, 202, 202);
}

table iframe{
    border:none;
}


.picbox{
    display: inline-flex;
    padding:0.5em;
    border:2px solid white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.picbox img{
    width:100%
}

.triangle-up {
    display:block;
	width: 0;
	height: 0;
	border-left: 0.3em solid transparent;
	border-right: 0.3em solid transparent;
	border-bottom: 0.6em solid #555;
}

.container {
    padding:16px;
}