.cushan-explain{
    display:flex;
    align-items:center;
    padding-left: 4em;
}
.indent{
    margin-left:4em;
}

.dec{
    list-style-type:decimal;
}

table{
    border-collapse: collapse;
}

table, tr, th{
    padding:15px;
    border:1px solid white;
}

.arrow{
    position: relative;
    bottom:100px;
}