@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
body{
    font-family: "Noto Sans TC";
    margin:0;
    font-size: larger;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: rgb(228, 228, 228);
}

h2{
    align-self: center;
}
.header{
    text-align: center;
    text-shadow: 1px 1px #909090;
    width:100%;
    padding-top:30px;
    padding-bottom:30px;
}

#navbar{
    overflow: hidden;
    z-index: 2147483647;
    width:100%;
    background-color: #666666;
}

.sticky{
    position: fixed;
    top:0;
    width:100%;
}
 
#navbar a{
    float:left;
    display: block;
    font-size: 27px;
    padding:15px;
    color: #ffffff;
    text-decoration: none;
}

.dropdown{
    float:left;
    overflow: hidden;
}

.dropbtn{
    font-size: 27px;
    padding:15px;
    color:#ffffff;
    background-color: inherit;
    text-decoration: none;
    border:none;
    margin:0;
}

.dropdown:hover .dropbtn{
    color:rgb(34, 34, 34);
    background-color: #ffffff;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color: inherit;
}

.dropdown-content a{
    clear:both;
    background-color:#565656;
    text-align: center;
}

.dropdown:hover .dropdown-content{
    display: block;
}

#navbar a:hover{
    color: rgb(34, 34, 34);
    background-color: #ffffff;
}

.flex-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.savespace{
    padding-top: 71px;
}
.explain{
    cursor: help;
}

.list{
    margin-left: 4em;
}

.nodec{
    color:unset;
}

.hidden-link{
    text-decoration: none;
    cursor:text;
}

#gravity-image{
    position: absolute;
    visibility: hidden;
}

.gravity:hover #gravity-image{
    visibility: visible;
}

.gravity:hover ::after{
    content:" NOTE: it unavoidably becomes a mess in like 15 seconds.";
}

#Ep:hover #Ep-hid{
    visibility: visible;
}

#funfact:hover::after{
    content:"Dang I was so awkward.";
}