@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
body{
    font-family: "Noto Sans TC";
    margin:0;
    font-size: larger;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: rgb(228, 228, 228);
}

nav{
    position:sticky;
    top:0;
    z-index: 10000;
    width: 100%;
    background-color: #666666;
}

nav li{
    display:inline-block;
    font-size:27px;
    color:#ffffff;
}

nav li a{
    text-decoration: none;
    color:#ffffff;
    padding:15px;
    display:block;
}

nav li a:hover{
    color: #666666;
    background-color: #ffffff;
}


nav ul{
    padding-left:0px;
}

nav .dropdown{
    display:none;
    position: absolute;
    margin-top: 0px;
    z-index:1;
}

nav .dropdown li{
    display: block;
    background-color:#666666;
    width: 100%;
}

nav li:hover .dropdown{
    display:block;
}

nav .content-change{
    float: right;
    overflow: hidden;
    position: relative;
}

.content-change .A{
    position: absolute;
    height:80%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.content-change .B{
    position: relative;
}

.content-change .B{
    opacity:0;
}

.content-change:hover .B{
    opacity: 1;
}

.content-change:hover .A{
    display: none;
}

h2{
    align-self: center;
}
.header{
    text-align: center;
    text-shadow: 1px 1px #909090;
    width:100%;
    padding-top:30px;
    padding-bottom:30px;
}


.flex-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
}

.explain{
    cursor: help;
}

.list{
    margin-left: 4em;
}

.nodec{
    color:unset;
}

.hidden-link{
    text-decoration: none;
    cursor:text;
}

.emphasis{
    color: white;
    font-weight: bolder;
}

.whisper{
    color:rgb(202, 202, 202);
    font-style: italic;
    font-size: medium;
}

.bottom{
    padding-top:6%;
    font-size: small;
    text-align: center;
}